<h2>Textbox Properties</h2>
{{#def.ctrlName}}
{{#def.title}}
{{#def.mandatoryOption}}
{{#def.searchableOption}}
<!-- <div class="propEl">
	<label>Format</label>
  	<input type="radio" name="textFieldFormat" value="text" checked> Text<br> Default
	<input type="radio" name="textFieldFormat" value="number" {{=(it.textFieldFormat === 'number' ? 'checked' : '')}}> Number<br>
	<input type="radio" name="textFieldFormat"value="email" {{=(it.textFieldFormat === 'email' ? 'checked' : '')}}> Email<br>
</div> -->
{{#def.conditionExp}}
{{#def.dynamicValue}}
{{#def.defaultValue}}
{{#def.commonActions}}

