<!--<div class="propEl">
  <h3>Options</h3>
  <table>
  		<tr>
  			<td>English</td>
  			<td>Arabic</td>
  		<tr>
  		<tr>
  			<td style=""><input type="text" name="optionEn"/></td>
  			<td style=""><input type="text" name="optionAr"/></td>
  			<td style="white-space: nowrap;">
  				<i class="fa fa-plus-circle fa-2x"></i> <i class="fa fa-times-circle fa-2x"></i> 
  			</td>
  		<tr>
  </table>
</div>-->

<div class="propEl">
    <label>Control Name</label>
    <input type="text" class="form-control" name="ctrlName" class="form-control" value="{{=it.ctrlName || ''}}" title="Name of the control , used for retrieving control value to create condional and dynamic values" data-required="true" readonly="readonly" />
</div>



