.formEl {
	text-align: left;
	position:relative;
}
.formEl input[type='text'] {
	display: block;
	width: 90%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: lightgray;
}

.formEl select {
	display: block;
	width: 90%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: lightgray;
}

.formEl label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.formEl .cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

/***************** Properties Pane ******************/
.propEl {
	margin: 10px;
}

#prop h2 {
	text-align: center;
	text-decoration: underline;
}
.propEl label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

/*.propEl input[type='text'] {*/
	/*display: block;*/
	/*width: 90%;*/
	/*padding: 6px 12px;*/
	/*font-size: 14px;*/
	/*line-height: 1.42857143;*/
	/*color: #555;*/
	/*background-color: #fff;*/
	/*background-image: none;*/
	/*border: 1px solid #ccc;*/
/*}*/

.propEl select {
	display: block;
	width: 90%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}
#prop h2 {
	color: #385E86;
	padding: 10px;
	margin: 0;
	font-size: 18px;
	text-align: center;
	background-color: lightgray;
	text-decoration: none;
}
/***************** Header & Footer******************/
.footer {
 	background-color : rgb(35, 86, 149); /*#f3f3f3;*/
 	white-space: nowrap;
	width: 1070px;
	padding-top: 10px;
	padding-bottom: 10px;
 }
 
 .footer  .footer-content {
 	font-size: 12px;
 	color:white;
 	text-align:center;
 }
 
 .header {
 	background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
 	height : 45px;
 	white-space: nowrap;
	width: 1070px;
 }

.header .logo {
	display: inline-block;
	font-size: 24px;
	padding-left: 10px;
	/*color: #DDE6EF;*/
	color: #333;
	vertical-align: middle;
}

.header .logo-separator {
	width:3px;
	height:100%;
	/*background-color:lightslategrey;*/
	background-color:white;
	display:inline-block;
	vertical-align: middle;
	margin-left: 10px;
	
}

.header .menu {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
	color: #333;
	margin-top: 5px;
}

.header .right-menu {
	display: inline-block;
	vertical-align: middle;
	float: right;
	font-size: 24px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer;
	color: white;
}
/*************************Toolbox******************/

#toolbox ul {
	border:none;
}

#toolbox ul:last-child {
	border-bottom:solid 1px black;
}

/***************** Others ******************/
}
.unhappyMessage {
    display:  block;
    color:red;'
}

.outline {
	border : 1px dotted gray;
}

.selectedControl {
	border : 1px dotted gray;
	background-color : #F0F0F0;
}

/*input[type=text] {*/
	/*-webkit-border-radius: 8px;*/
	/*-moz-border-radius: 8px;*/
 	/*border-radius: 8px;*/
    /**/
/*}*/
/*.formEl textarea {*/
	/*display: block;*/
	/*width: 90%;*/
	/*height: 34px;*/
	/*padding: 6px 12px;*/
	/*color: #555;*/
	/*background-image: none;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 4px;*/
	/*color: lightgray;*/
/*}*/


