
<tr style="vertical-align: baseline;" class="tablesorter-childRow">
	<td style="" class="editableCol"   onblur="blurCell()" onclick="editCell($(this))">
		{{=it.value || ''}}
	</td>
	<td style="" class="editableCol"  onblur="blurCell()" onclick="editCell($(this))" >
		{{=it.labelEn || ''}}
	</td>
	<td style="" class="editableCol"  onblur="blurCell()" onclick="editCell($(this))" >
		{{=it.labelAr || ''}}
	</td>
	<td class="editableCol" style=""  onblur="blurCell()" onclick="editCell($(this))" >
		{{=it.parent || ''}}
	</td>	
	<td>
		<button onclick="deleteRow($(this))"><i class="fa fa-times"></i></button>
	</td>	
</tr>